$bodyColor: 	#0F1827;

body {
  background-color: $bodyColor;
  font-family: 'Boogaloo';
}

.main-body {
  color: lighten(grey,40%);
  width: 1000px;
  background-color: lighten($bodyColor,10%)
}

.main-menu {
  li {
    display: inline-block;
    padding-left: 10px;
  }
  a {
    text-decoration: none;
    color: #9D9841;
    &:hover {
      color: #E8E75E;
    }
  }
}
