$bodyColor: 	#0F1827;
$textColor: #9D9841;

body {
  background-color: lighten($bodyColor,20%);
  font-family: 'Boogaloo';
  color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: $textColor;
}

.nav-link {
  color: #E8E75E;
  &:hover {
    background-color: $textColor;
    color: white;
  }
}

.content-color {
  background-color: lighten($bodyColor,15%);
}

hr {
  margin-top: 0;
}
