
$bodyColor: 	#0F1827;
$textColor: #9D9841;

body {
  background-color: lighten($bodyColor,20%);
  font-family: 'Alegreya', serif;
  color: white;
  min-width: 300px;
}

// Menu
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: $textColor;
}

.nav-link {
  color: #E8E75E;
  font-size: 20px;
  &:hover {
    background-color: $textColor;
    color: white;
  }
}

.nav-item {
  margin: 1px;
}

hr {
  margin-top: 0;
}

// Content
.content {
  background-color: lighten($bodyColor,15%);
  padding: 5% 10%;
  margin: 10px 7%;
  border-radius: 10px;
}

.error {
  border: 2px $textColor solid;
  margin: 0 auto;
  height: 50%;
  width: 50%;
}

.contentItem {
  background-color: lighten($bodyColor,25%);
  padding: 15px 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  h2 {
    color: lighten(#E8E75E,5%);
  }
  .opening {
    padding: 15px 25px;
    font-size: 20px;
  }
}

.directorProducer, .planets {
  margin: 0 10px;
  display: inline-block;
  .titleColor {
    color: darken(#E8E75E,20%);
  }
}

.contentPlanet {
  background-color: lighten($bodyColor,25%);
  padding: 15px 25px;
  margin-bottom: 30px;
  margin-right: 10px;
  float: left;
  border-radius: 10px;
  h2 {
    color: #E8E75E;
  }
}

.clearfix::before, .clearfix:after {
  content: "";
  display: block;
  clear: both;
  margin-bottom: 10px;
}

.button-style {
  border-radius: 5px;
}

.search-input {
  border-radius: 5px 0 0 5px;
  width: 40%;
}

.search-button {
  border-radius: 0 5px 5px 0;
}

.jar-jar {
  border: 2px $textColor solid;
  margin: 0 auto;
  height: 50%;
  width: 50%;
}

span {
  background-color: lighten($bodyColor,30%);
  padding: 1px;
  margin: 2px;
  border-radius: 15px;
  font-size: 18px;
}

// Quiz
.question {
  background-color: lighten($bodyColor,25%);
  padding: 15px 25px;
  font-size: 30px;
  margin-bottom: 30px;
}

.lightsaber {
  border-radius: 0 5px 5px 0;
  width: 50%;
  text-align: center;
  color: black
}
